@charset "utf-8";
*{
  box-sizing: border-box;
}
a, a:hover{
  text-decoration: none;
}
button{
  outline: none;
}
body{
  font-family: "微軟正黑體", Arial, sans-serif;
  position:relative;
  .container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.gray-bg{
  width: 100%;
  height: 180px;
  background: #f5f5f5;
  padding-top: 30px;
  i{
    font-size: 24px;
    display: block;
    color: #a9a9a9;
    margin: 0px 20px 0;
    border: 1px solid #a9a9a9;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    margin-left: auto;
    border-radius: 99%;
  }
}
article{
  margin-top: -180px;
}
#header{
  padding-top: 60px;
  margin-bottom: 25px;
  h1{
    font-size: 25px;
    letter-spacing: 3px;
  }
  h2{
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 7px;
  }
  p{
    font-size: 15px;
    color: #1890c1;
    letter-spacing: 1px;
    span{
      margin-right: 5px;
      
    }
    a{
      color: #1890c1;
    }
  }
  .myPic{
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 99%;
    display: inline-block;
    margin-right: 10px;
    img{
      width: 100%;
    }
  }
  .intro{
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 20px;
  }

}
#info{
  margin-bottom: 30px;
  p{
    font-size: 16px;
    color: #666666;
    letter-spacing: 0.8px;
    line-height: 1.5;
  }
}
#Introduction{
  .content{
    margin-bottom: 40px;
  }
  h3{
    font-size: 15px;
    color: #2e9ec8;
    letter-spacing: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #b1ddee;
  }
  h4{
    font-size: 18px;
    margin-bottom: 6px;
    span{
      font-size: 15px;
      color: #9b9b9b;
      letter-spacing: 1px;
      &.orange{
        color: #ed737c;

      }
    }
  }
  ul{
    margin-bottom: 28px;
    li{
      font-size: 15px;
      margin-bottom: 6px;
      &::before{
        content: "-";
        display: inline-block;
        width: 16px;
        margin-left: 5px;
      }
    }
    span{
      font-size: 14px;
      color: #898989;
      margin-left: 20px;
    }
  }
  .half{
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
  .half-3{
    width: 32%;
    display: inline-block;
    vertical-align: top;
  }
  .webItem{
    margin-bottom: 20px;
    border-bottom: 1px dotted #d8d8d8;
    padding-bottom: 20px;
    .half{
      &:first-child{
        width: 39%;
        padding-right: 30px;
        padding-top: 20px;
      }
      &:last-child{
        width: 60%;
        padding-top: 9px;
      }
    }
    h4{
      margin-bottom: 28px;
      font-size: 22px;
    }
    h5{
      font-size: 16px;
      border-left: 5px solid #bce1ef;
      line-height: 16px;
      padding-left: 7px;
      margin-bottom: 5px;
    }
    p{
      font-size: 16px;
      margin-bottom: 25px;
      line-height: 1.7;
    }
    a{
      display: block;
      color: #515151;
      border: 1px solid;
      width: 100px;
      text-align: center;
      line-height: 29px;
      font-size: 16px;
      transition: all 0.3s;
      &:hover{
        color: #ffffff;
        background: #1890c1;
        border: 1px solid #1890c1;
      }
    }
  }
  img{
    width: 100%;
  }
  .more{
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 22px 0;
    a{
      color: #3da9cd;
    }
  }
}
footer{
  border-top: 1px solid #c9c9c9;
  text-align: center;
  p{
    font-size: 15px;
    padding: 12px 0;
    color: #757575;
    letter-spacing: 2px;
  }
}

@media (max-width:1170px){
  body{
    .container{
      width: 100%;
    }
  }
}
@media (max-width:990px){
  #Introduction{ 
    .webItem{
      .half{
        &:first-child{
          width: 100%;
          display: block;
        }
        &:last-child{
          width: 100%;
          display: block;
        }
      }
    }
  }
}
@media (max-width:790px){
  #Introduction{
    ul{
      padding: 0 30px 0 0;
    }
    .half{
      width: 100%;
      display: block;
    }
    .half-3{
      width: 49%;
    }
  }
}
@media (max-width:480px){
  #Introduction{
    h3{
      margin-bottom: 15px;
    }
    ul{
      padding: 0;
    }
    .half-3{
      width: 100%;
      display: block;
    }
    .webItem{
      .half{
        &:first-child{
          padding-top: 10px;
          padding-right: 0px;
        }
      }
      h4{
        margin-bottom: 20px;
        font-size: 20px;
      }
    }
    .more{
      font-size: 13px;
      letter-spacing: 1px;
      padding: 0px;
    }
  }
}


@media print {
  body{
    .container{
      padding: 0 0;
    }
  }
  .gray-bg{
    a{
      display: none;
    }
  }
  #header{
    padding-top: 40px;
    margin-bottom: 15px;
  }
  #Introduction{
    .content{
      margin-bottom: 10px;
      .half-3{
        width: 31%;
        &:nth-of-type(1){
          width: 35%;
        }
        &:nth-of-type(4){
          width: 35%;
        }
      }
    }
    h4{
      font-size: 16px;
    }
    ul{
      li{
        font-size: 14px;
      }
    }
    .half{
      width: 49%;
      display: inline-block;
    }
    .webItem{
      margin-bottom: 10px;
      padding-bottom: 15px;
      &:nth-of-type(4){
        border-bottom: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
      }
      p{
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 1.5;
      }
      a{
        display: none;
      }
      h4{
        margin-bottom: 15px;
      }
      .half{
        &:first-child{
          width: 52%;
          padding-right: 10px;
          padding-top: 10px;
          display: inline-block;
        }
        &:last-child{
          width: 47%;
          display: inline-block;
        }
      }
    }
    .more{
      display: none;
    }
  }
}